# Python virtual environments
.env/
.env*/
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Datasets
data/

# Model checkpoints
*.pth
*.pt
*.ckpt

# Jupyter
.ipynb_checkpoints/
notebook.ipynb
test.py

.gitignore

old_scripts/